<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>User Directory</title>
    <link rel="stylesheet" type="text/css" href="style.css"/>
    <link rel="stylesheet" type="text/css" href="/style.css"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  </head>
  <body>
    <h1>User Directory</h1>
    <div class="user-profiles">
      {{#users}}
      <div class="user">
        <img src="{{avatar}}" alt="No Image Available">
        <a class="name" href="http://localhost:3000/users/{{id}}">{{name}}</a>
        {{#job}}
        <p class="job">{{job}}, {{company}}</p>
        {{/job}}
        {{^job}}
        <p class="no-job">Available for hire</p>
        {{/job}}
      </div>
      {{/users}}
    </div>

  </body>
</html>
